# Database Billing
DB_BILLING_HOST=127.0.0.1
DB_BILLING_NAME=midtrans_billing_db
DB_BILLING_USER=root
DB_BILLING_PASS=your_password

# Database App 1
DB_APP1_HOST=127.0.0.1
DB_APP1_NAME=app1_db
DB_APP1_USER=root
DB_APP1_PASS=your_password

# Database App 2
DB_APP2_HOST=127.0.0.1
DB_APP2_NAME=app2_db
DB_APP2_USER=root
DB_APP2_PASS=your_password

# Midtrans (Sandbox Mode)
MT_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxxxxxx
MT_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxxxxxxxxxx
MT_IS_PROD=false

# URLs
BILLING_API_URL=http://app-billing.test/api_subscribe.php
